main {
  min-height: 80vh;

  background: hsla(198, 65%, 34%, 1);

  background: linear-gradient(
    90deg,
    hsla(198, 65%, 34%, 1) 0%,
    hsla(178, 44%, 32%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(198, 65%, 34%, 1) 0%,
    hsla(178, 44%, 32%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(198, 65%, 34%, 1) 0%,
    hsla(178, 44%, 32%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1E6C8E", endColorstr="#2E7775", GradientType=1 );
}

footer {
  background: rgb(63, 63, 63);
  color: azure;
}

footer a {
  color: orange;
}

h3 {
  padding: 1rem;
}

.rating span {
  margin: 0.1rem;
}
